@use 'variables' as v;
@use 'mixins' as m;

.form {
    &__field {
        margin-bottom: .5rem;
    }

    &__input {
        &--minutes {
            background-color: #E7EDF7;
        }
    }

    &__label {
        margin-bottom: .2rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @include m.tablet {
            flex-direction: row;
            align-items: center;
        }
    }
}