@use 'variables' as v;
@use 'mixins' as m;

/* GLOBALS */

//HTML STRUCTURE
html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    //font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    // Font
    font-family: v.$font-family;
    font-size: v.$fs-rg;
    font-weight: normal;
    line-height: 1.5;
    color: v.$dark;

    // Background
    background-color: white;

    // Positioning
    min-height: 100vh;
    position: relative;
}

h1, h2, h3 {
    margin: 1rem 0;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: v.$light;
}

img {
    max-width: 100%;
    display: block;
}

header {
    margin-bottom: 2.5rem;
}