@use 'variables' as v;
@use 'mixins' as m;

.main {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        gap: .2rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: none;
            gap: 0;
        }
    }

    &__title {
        color: v.$primary;

        &--upsert {
            text-align: center;
            padding-bottom: .5rem;
            border-bottom: 1px solid v.$primary;

            @include m.tablet {
                text-align: start;
            }
        }
    }

    &__filters,
    &__body {
        padding: 1.5rem; 
        margin-bottom: 1.7rem; 
        background-color: v.$section-bg; 
        box-shadow: v.$box-shadow-sm; 
        border-radius: v.$border-radius-sm; 
        -webkit-border-radius: v.$border-radius-sm; 
        -moz-border-radius: v.$border-radius-sm;
        -ms-border-radius: v.$border-radius-sm;
        -o-border-radius: v.$border-radius-sm;

        @include m.tablet {
            padding: 1.5rem 3rem;
        } 

        &-header {
            color: v.$grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-subtitle {
            color: v.$grey;
            font-size: 16px;

            &--minutes {
                color: v.$primary;
                font-size: 22px;
            }
        }
    }
    
    &__filters {
        &-title {
            margin: 0;
        }

        &-form {
            padding: .2rem;
        }

        &-field {
            margin-bottom: .7rem;

            @include m.tablet {
                margin-bottom: .3rem;
            }

            @include m.desktop {
                margin-bottom: 0;
            }
        }

        &-label {
            margin-bottom: .1rem;
        }

        &-action {
            margin-right: .2rem;
        }
    }

    &__pagination {
        font-size: 16px;
        color: v.$dark;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
} 