@use 'variables' as v;
@use 'mixins' as m;

.minutes__form {
    background-color: v.$light;
    border-radius: v.$border-radius-rg;
    -webkit-border-radius: v.$border-radius-rg;
    -moz-border-radius: v.$border-radius-rg;
    -ms-border-radius: v.$border-radius-rg;
    -o-border-radius: v.$border-radius-rg;
    border: 1px solid v.$light-gray;

    &-header,
    &-fields,
    &-fields--agreements {
        padding: .7rem 2.3rem;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        gap: 1rem;
    }

    &-header {
        background-color: #F0F0F0;
        font-size: 14px;
        color: v.$grey;
        font-weight: bold;
        border-top-left-radius: v.$border-radius-rg;
        border-top-right-radius: v.$border-radius-rg;
        border-bottom: 1px solid v.$light-gray;

        & p {
            margin: 0;
            padding: 0;
        }
    }

    &-fields {
        &--agreements {
            background-color: #F0F0F0;
            grid-column: 1 / 4;
            padding: .5rem;
            grid-template-columns: 1fr 2.5fr 1fr;
            margin-top: -1rem;

            border-left: 1px solid #d7d7d7;
            border-right: 1px solid #d7d7d7;
        }

        &--transactions,
        &--notices {
            grid-column: 1 / 4;
            padding: .5rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 2.7fr 1fr;

            border-left: 1px solid #d7d7d7;
            border-right: 1px solid #d7d7d7;
        }

        &--transactions {
            background-color: v.$light;
            margin-top: -1rem;

            &:last-of-type {
                border-bottom-left-radius: v.$border-radius-rg;
                border-bottom-right-radius: v.$border-radius-rg;
            }
        }

        &--notices {
            background-color: #F0F0F0;
            margin-top: -1rem;

            &:last-of-type {
                border-bottom-left-radius: v.$border-radius-rg;
                border-bottom-right-radius: v.$border-radius-rg;
            }
        }
    }
}