@use 'variables' as v;
@use 'mixins' as m;

.projects {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        gap: .2rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: none;
            gap: 0;
        }
    }

    &__title {
        color: v.$primary;
    }

    &__filters,
    &__body {
        padding: 1.5rem;
        margin-bottom: 1.7rem;
        background-color: v.$section-bg;
        box-shadow: v.$box-shadow-sm;
        border-radius: v.$border-radius-sm;
        -webkit-border-radius: v.$border-radius-sm;
        -moz-border-radius: v.$border-radius-sm;
        -ms-border-radius: v.$border-radius-sm;
        -o-border-radius: v.$border-radius-sm;

        @include m.tablet {
            padding: 1.5rem 2rem;
        }
    }

    &__filters-form {
        @include m.tablet {
            @include m.grid(2, .5rem);
        }

        @include m.desktop {
            @include m.grid(4, .5rem);
        }
    }

    &__filters-field {
        margin-bottom: .7rem;

        @include m.tablet {
            margin-bottom: .3rem;
        }

        @include m.desktop {
            margin-bottom: 0;
        }
    }

    &__filters-label {
        margin-bottom: .1rem;
    }

    &__section-header {
        color: v.$grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__section-title {
        font-size: 16px;
        
        &--filters {
            margin: 0;
        }
    }
}

.project {
    &__name {
        font-weight: bold;
        font-size: 18px;

        @include m.tablet {
            font-size: 20px;
        }
    }

    &__final-code {
        color: v.$secondary;
    }

    &__principal-investigator {
        font-weight: bold;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .3rem;

        @include m.desktop {
            flex-direction: row;
        }
    }
}