@use 'variables' as v;
@use 'mixins' as m;

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 4rem;
}

.tablet-display {
    display: none !important;

    @include m.tablet {
        display: inline-block !important;

        &--td {
            display: flex !important;
        }
    }
}

.desktop-display {
    display: none !important;

    @include m.desktop {
        display: inline-block !important;

        &--td {
            display: flex !important;
        }
    }
}

.desktop-xl-display {
    display: none;

    @include m.desktop-xl {
        display: inline-block;
    } 
} 

.desktop-only { 
    display: none;

    @include m.desktop {
        display: inline-block;
    } 

    @include m.desktop-xl {
        display: none;
    }
}

.filters-toggle {
    &:hover {
        color: v.$grey;
        cursor: pointer;
    }
}

.secondary-color {
    color: v.$secondary;
}

div[class$="__filters-body"] {
    display: none;
    margin-top: .7rem;
}

#clear-filters-button {
    margin-bottom: 8px;
}

#clear-filters-button:hover {
    cursor: pointer;
}

.grid-2 {
    @include m.grid(2, 1rem);

    @include m.tablet {
        @include m.grid(2, 2rem);
    }
}

.grid-3 {
    @include m.grid(3, 1rem);

    @include m.tablet {
        @include m.grid(3, 2rem);
    }
}

.grid-4 {
    @include m.tablet {
        @include m.grid(4, 2rem);
    }

    &--desktop {
        @include m.desktop {
            @include m.grid(4, 2rem);
        }
    }
}

.table {
    width: 100%;
    border: 1px solid v.$primary;
    border-radius: v.$border-radius-sm;
    -webkit-border-radius: v.$border-radius-sm;
    -moz-border-radius: v.$border-radius-sm;
    -ms-border-radius: v.$border-radius-sm;
    -o-border-radius: v.$border-radius-sm;

    & > :not(caption) > * > * {
        padding: .5rem;
        @include m.tablet {
            padding: 1rem;
        }
    }

    &__header {
        background-color: v.$primary;
        color: v.$light;
        
        &__row.table__head {
            padding: .2rem;
        }
    }

    &__head {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        margin: 0;

        @include m.tablet {
            text-align: start;
        }
    }

    &__row {
        border-bottom: 1px solid v.$primary;
        @include m.grid(2, 2rem);

        @include m.tablet {
            @include m.grid(3, 2rem);
        }

        &:last-child {
            border: none;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__button-primary {
        @include m.button(v.$primary-light, v.$light);
    }

    &__button-danger {
        @include m.button(v.$danger, v.$light);
    }

    &__button-primary,
    &__button-danger {
        font-weight: normal;
        font-size: 16px;
        max-height: 45px;

        @include m.desktop {
            max-height: unset;
        }
    }

    &__link {
        color: v.$primary;

        &:hover {
            color: darken(v.$primary-light, 10);
        }
    }
}