/* VARIABLES */

//COLOR PALETTE
$primary: #005EA5;
$primary-light: #4AACE1;
$secondary: #F7931E;

$danger: #DB3A4C;
$warning: #FFBB33;
$success: #3C8E27;

$light: #F8F8F8;
$grey: #767A7A;
$dark: #242626;
$dark-2: #323232; 