<main class="main container container--upsert">
  <div class="main__body">
    <h1 class="main__title main__title--upsert">INFORMACIÓN DEL ASOCIADO(A)</h1>

    <div class="main__form">
      <%= render "form", individual: @individual %>
    </div>
  </div>
</main>