<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-md-12">
      <h1 class="text-center">Investigadores</h1>
    </div>
  </div>
  <%= render 'individual_filter' %>
  <div class="row mt-4 mb-4">
    <div id="investigators">
      <%= render 'shared/individual_table', view: 'individual' %>
    </div>
  </div>
</div>
