<footer class="footer">
    <div class="container footer__content">
        <div class="footer__left">
            <div class="footer__logo">
                <%= image_tag('ucr-footer_logo.png', alt: "UCR footer logo", class: "footer__icon") %>
            </div>
            <div class="footer__info">
                <p class="footer__paragraph">Universidad de Costa Rica, Sede Occidente.
                <br> 2511 7019 / 2511 7064 / 2511-7000
                <br> investigacion.so@ucr.ac.cr
                <br> Aviso legal © 2023</p>
            </div>
        </div>
        <div class="footer__logo">
            <%= image_tag('so-footer_logo.png', alt: "UCR-SO footer logo", class: "footer__icon") %>
        </div>
    </div>
</footer>