<main class="main container container--upsert">
  <div class="main__body">
    <h1 class="main__title main__title--upsert">NUEVO PROYECTO</h1>

    <div class="main__form">
      <%= render "projects/project_form/form", project: @project, individuals: @individuals%>
    </div>
  </div>
</main>