<div class="container">
  <div id="<%= dom_id minute %>">
    <p>
      <strong>Número:</strong>
      <%= minute.number %>
    </p>
    <p>
      <strong>Fecha de creación:</strong>
      <%= minute.creation_date %>
    </p>
    <p>
      <strong>Documento:</strong>
      <%= link_to minute.file.filename, rails_blob_path(minute.file, disposition: "file") %>
    </p>
  </div>
</div>
