<div class="nested-fields notice-fields minutes__form-fields--notices">
  <div class="form__field">
    <%= f.text_field :code, class: "form-control form__input mt-2", placeholder: "N° Oficio" %>
  </div>

  <div class="form__field">
    <%= f.file_field :file, class: "form-control form__input mt-2", direct_upload: true %>

    <% if f.object.file.attached? %>
      <p>Documento existente: <%= link_to f.object.file.filename, url_for(f.object.file), target: "_blank" %></p>
    <% end %>
  </div>

  <div class="form__actions">
    <%= link_to_remove_association f, class: "btn__danger px-3 py-2" do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
  </div>
</div>